.about {
    display: grid;
    grid-template-columns: 1fr auto min-content 1fr;
    align-items: flex-end;
    column-gap: 35px;
    margin-top: 200px;
    max-width: 100%;

    @include mq (1024px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        margin-top: 100px;
        margin-top: initial;
    }

    &__rectangle {
        grid-column: 2/3;
        position: relative;


        @include mq (1024px) {
            grid-column: 1/2;
            justify-items: center;
            margin: 0 auto;
            right: 60px;
            margin-top: 120px;
        }

        @include mq (450px) {
            background-color: var(--primary-color);
            border-radius: 33% 159% 130px 86px;
            position: relative;
            margin: 0 auto;
        }
    }

    &__rectbg {


        @include mq (450px) {
            display: none;
            width: 100%;
            height: auto;
        }
    }

    &__avatar {
        height: auto;
        width: 438px;
        position: absolute;
        z-index: 1;
        top: -64px;
        left: 91px;
        mask: url(../assets/avatarshape.svg) no-repeat;
        mask-position: 53% 100%;

        @include mq (450px) {
            width: 100%;
            top: 9px;
            margin: 0 auto;
            position: relative;
            padding: 0 15px;
            box-sizing: border-box;
            z-index: initial;
            mask: initial;
            mask-position: initial;
            left: 57px;
        }

    }

    &__info {
        grid-column: 3/4;
        padding-bottom: 10px;

        @include mq (1024px) {
            grid-column: 1/2;
            grid-row: 2/3;
            text-align: center;
            margin: 0 auto;
            margin-top: 50px;
            width: 100%;
        }

        @include mq (450px) {
            box-sizing: border-box;
            padding: 0 15px;
        }
    }

    &__pretitle {
        font-weight: var(--font-bold);
        font-size: 24px;
        color: var(--primary-color);
    }

    &__title {
        font-weight: var(--font-bold);
        color: var(--type-color);
        font-size: 65px;
        min-width: max-content;
        line-height: 60px;

        @include mq (1024px) {
            min-width: auto;
        }

        @include mq (450px) {
            font-size: 48px;
        }
    }

    &__subtitle:nth-child(4) {
        color: var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
        width: max-content;
        margin-left: auto;
        padding-bottom: 14px;
        margin-bottom: 40px;

        @include mq (1024px) {
            width: auto;
        }


    }

    &__subtitle {
        font-size: 34.75px;
        font-weight: var(--font-light);
        color: var(--type-color);
        text-align: right;
        line-height: 40px;

        @include mq (1024px) {
            text-align: center;
            margin-left: none;
        }

        @include mq (450px) {
            font-size: 25px;
            line-height: 30px;
        }
    }

    &__description {
        box-sizing: border-box;
        font-size: 18px;
        font-weight: var(--font-light);
        color: var(--type-color);
        width: 100%;
        padding-left: 5%;
        text-align: right;

        @include mq (1024px) {
            text-align: center;
            max-width: 500px;
            padding: 0;
            margin: 0 auto;
        }
    }

    &__buttons {
        text-align: right;
        padding-top: 30px;
        cursor: pointer;

        @include mq (1024px) {
            text-align: center;
            margin-left: none;

        }


    }

    &__contact {
        background: none;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: var(--font-bold);
        margin-right: 45px;

        a {
            text-decoration: none;
            color: var(--primary-color);

            &:hover{
                color: var(--type-color);
                transition: color 0.2s ease;
            }
        }

    }
}