.button__cta{
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: var(--font-bold);
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 4px ;
}