.footer {
    margin-top: 120px;
    height: 190px;
    background-color: var(--primary-color);
    border-radius: 200px 200px 0 0;
    display: grid;
    grid-template-columns: 1fr 340px 1fr 340px 1fr;
    justify-content: center;
    align-content: center;

    &__logo {
        grid-column: 2/3;
        display: flex;
        font-size: 33px;
        color: var(--white-color);
        justify-content: center;


        p {
            padding-left: 10px;
            line-height: 37px;
            width: 140px;
            margin-top: 19px;

        }

        svg {
            width: 72px;
            height: auto;
        }

        @include mq (600px) {
            grid-row: 1/2;
        }

    }

    &__date {
        grid-column: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: var(--white-color);

        @include mq (600px) {
            grid-column: 2/3;
            grid-row: 3/4;
        }

    }

    @include mq (1024px) {
        border-radius: 50px 50px 0 0;
    }

    @include mq (600px) {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto 1fr 1fr;
        padding: 50px 0;
        row-gap: 30px;
        height: auto;
    }

    &__social-media{

        display: none;

        @include mq (1024px) {
            display: flex;
            grid-row: 1/2;
            grid-column: 3/4;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        @include mq (600px) {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        
    }
}