.footer {
    margin-top: 120px;
    height: 190px;
    background-color: var(--primary-color);
    border-radius: 200px 200px 0 0;
    display: grid;
    grid-template-columns: 1fr 340px 1fr 340px 1fr;
    justify-content: center;
    align-content: center;

    &__logo {
        grid-column: 2/3;
        display: flex;
        font-size: 33px;
        color: var(--white-color);
        justify-content: center;


        p {
            padding-left: 10px;
            line-height: 37px;
            width: 140px;
            margin-top: 19px;

        }

        svg {
            width: 72px;
            height: auto;
        }

    }

    &__date{
        grid-column: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: var(--white-color);
    }
}