* {
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 150%;
    transition: all 1s ease-out;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(222, 222, 222);
    background-repeat: no-repeat;
    background: linear-gradient(-45deg, rgba(222, 222, 222, 1) 0%, rgba(244, 244, 244, 1) 100%);
}

h1,
h2,
h3 {
    margin: 0;
}

body.dark-theme {
    --primary-color: #b65151;
    --type-color: #c9d1d9;
    --background-color: #333333;
    background: #3B3B3B;

    .about__avatar {
        content: url("../assets/JulianNarvaezR.webp");
    }

    .svg__primary {
        fill: var(--primary-color);
    }

    .svg__white {
        fill: var(--type-color);
    }

    .social-media .svg__primary {
        fill: #fff;
    }
}