@mixin section-skill ($skew, $left, $right, $border, $gridS, $gridE) {
    background-color: var(--primary-color);
    grid-column-start: $gridS;
    grid-column-end: $gridE;
    grid-row: 1;
    border-radius: $border;
    transform: skewX($skew);
    position: relative;
    z-index: 1;

    &::before {
        content: ' ';
        height: 100%;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        transform: initial;
        left: $left;
        right: $right;
    }

}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    margin-top: 110px;
    grid-template-rows: auto 1fr auto;

    .button__cta {
        display: block;
        margin: 0 auto;
        margin-top: 100px;
        grid-row: 3;
        grid-column: 2/3;

        @include mq (1024px) {
            grid-column: 1/2;
        }
    }

    @include mq (1024px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }
}

.skills:nth-child(1) {
    grid-column: 1/2;

}

.skills:nth-child(3) {
    grid-column: 3/4;

    @include mq (1024px) {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 80px;
    }

}

.skills {
    $radius: 30px;
    $offset: -25%;
    display: grid;
    grid-row: 1/2;
    grid-template-rows: auto 1fr;

    &__wicon {
        grid-column: 2/3;
        grid-row: 1;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        p {
            font-size: 29px;
            font-weight: var(--font-bold);
            color: var(--white-color);
            line-height: 0;
        }

        @include mq (1024px) {
            grid-column: 1/4;
        }
    }

    &__bars {
        display: grid;
        grid-template-columns: 1fr 300px 40px;
        grid-template-rows: 240px;
        overflow: hidden;

        @include mq (600px) {
            grid-template-columns: 1fr 1fr 40px;
        }
    }

    &__web-bar {
        @include section-skill(20deg, $offset, none, 0 $radius $radius 0, 1, 3);
    }

    &__design-bar {
        @include section-skill(-20deg, none, $offset, $radius 0 0 $radius, 2, 4);
    }

    &__intersection {
        grid-column: 2/3;
        display: grid;
        grid-template-rows: auto 1fr;
        width: 100%;
        justify-items: center;


        @include mq (1024px) {
            display: none;
        }
    }

    &__circle {
        background-color: var(--background-color);
        height: 155px;
        width: 155px;
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid var(--primary-color);
        margin-top: 10%;
        grid-row: 1/2;

        svg {
            align-self: center;
            width: 50px;
        }
    }

    &__line {
        background-color: var(--primary-color);
        height: 100%;
        width: 1px;
        grid-row: 2/3;
        margin-top: 20px;

    }

    &__texts {
        display: grid;
        grid-template-columns: 1fr 340px;
        grid-template-rows: 1fr auto;
        font-size: 18px;
        font-weight: var(--font-light);
        color: var(--type-color);
        row-gap: 20px;
        grid-row: 2/3;
        padding-top: 90px;

        span {
            font-weight: var(--font-bold);
        }

        @include mq (1024px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            text-align: center;
            padding: 0 15px;
            padding-top: 25px;
        }
    }

    &__web-text {
        grid-column: 2/3;
        grid-row: 1/2;

        span {
            font-weight: var(--font-bold);
        }

        @include mq (1024px) {
            grid-column: 1/2;
            grid-row: 1/2;
            max-width: 500px;
        }
    }

    &__design-text {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;

        @include mq (1024px) {
            grid-column: 1/2;
            grid-row: 1/2;
            max-width: 500px;
            text-align: center;
        }
    }

    &__design & {

        &__texts {
            grid-template-columns: 340px 1fr;

            @include mq (1024px) {
                grid-template-columns: 1fr;
            }
        }

        &__icons {
            grid-column: 1 /2;
        }

        &__bars {
            grid-template-columns: 40px 300px 1fr;

            @include mq (600px) {
                grid-template-columns: 40px 1fr 1fr ;
            }
        }
    }

    &__icons {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0;
        padding: 0;
        align-items: end;
        justify-items: center;

        li {

            text-decoration: none;
            list-style: none;
        }

        @include mq (1024px) {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 0;
            padding: 0;
            width: 500px;
        }

        @include mq (600px) {
            width: 100%;
        }
    }


}