.social-media {
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-around;
    width: 25px;
    top: 50%;
    left: 5%;
    position: fixed;
    z-index: 2;

    svg {
        width: 100%;
    }

    @include mq (1024px) {
        display: none;
    }

    a:hover {
        .svg__primary{
            fill: var(--primary-color);
            transition: fill 0.2s ease;
        }
    }
}