.social-media {
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-around;
    width: 25px;
    top: 50%;
    left: 5%;
    position: fixed;
    z-index: 1;

    svg {
        width: 100%;
    }

    @include mq (1024px) {
        display: none;
    }
}