.social-media {
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-around;
    width: 25px;
    top: 50%;
    left: 15%;
    position: fixed;

    svg {
        width: 100%;
    }
}